.bio-container {
    flex: 1 1 20%;
    min-height: 100vh;
    background-color: var(--bio-bg-color);
    text-align: center;
    padding: 30px;
    border-right: 1px solid var(--border-color);
}

.bio-container h2 {
    margin-bottom: 25px;
}

.bio-container p {
    margin-bottom: 20px;
}

.highlight {
    color: var(--main-color);
}

.bio-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 25px;
    object-fit: cover; /* Adicionado para evitar distorção */
}

.welcome-text {
    font-weight: bold;
}

.social-container {
    display: flex;
    justify-content: center;
    list-style: none;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.social-container li {
    flex: 1 1 0;
    max-width: 60px;
}

.social-container li a {
    color: var(--main-color);
    font-size: 30px;
    display: inline-block; /* Para o hover funcionar */
}

.social-container li a:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.email-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-container i,
.email-container a {
    flex: 1 1 0;
}

.email-container a {
    color: var(--main-text-color);
    text-decoration: none;
    max-width: 225px;
}

.email-container i {
    color: var(--main-color);
    font-size: 20px;
    margin-right: 5px;
}
