/* Reset e variáveis já devem estar no index.css */

#container {
    display: flex;
    min-height: 100vh;
    color: var(--main-text-color);
}

/* Mobile */
@media (max-width: 768px) {
    #container {
        flex-direction: column;
    }
}
